@{
    ViewBag.Title = "ABOUT CUROSOME:";
}
<h2>@ViewBag.Title.</h2>
<h3>SEE HOW IT WORKS:</h3>

<h4 style="color:blue">
    It solves the problem in setting of MST Papers:<br />
    * Here,a teacher comes and has to download a excel sheet.<br />
    *This sheet is filled with all the questions of chapter 1,chapter 2,chapter 3 of a unit.<br />
    * Even Some help is provided to the teacher if he is not aware of some shortcuts in excel to save his/her time.
</h4>
<img runat="server" id="img_logo" alt="Logo" src="~/Content/IMAGES/random.jpg" class="img-responsive"/>
<h4 style="color:black">*Teacher has to fill the excel sheet taking care if a row is used,it must be filled completly.<br />
    * Then just Submit the file<br />
    * This will be Done by teachers who are assigned the task<br />
    * After that, according to Mst pattern question paper will be generated from the entire Questionbank<br />
    * A pdf of it will be sent to the respective Departments.</h4>