@{
    ViewBag.Title = "CONTACT US:";
}
<h2>@ViewBag.Title.</h2>
<h3>SUPPORT TEAM:</h3>

<address>
    DHRUV KINGER<br />
    CHANDIGARH UNIVERSITY,GHARUAN<br />
    7888970163<br /><br />
    SAYANTO ROY<br />
    CHANDIGARH UNIVERSITY,GHARUAN<br />
    8789788765
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dhruvkinger813@gmail.com">dhruvkinger813@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:sroy.sayanto@gmail.com">sroy.sayanto@gmail.com</a>
</address>